<% permalink = config.url + config.root + post.path %>
<section id="intro">
    <div class="container">
        <div class="row col-md-offset-2">
            <div class="col-md-8">
    			<%- partial('post/meta') %>
                <h1><%- post.title %></h1>
            </div>
        </div>
        <div class="col-md-8 col-md-offset-2">
      		<%- post.content %>
            <div class="clearfix"></div>
            <hr class="nogutter">
        </div>
        <%- partial('post/navigation') %>
        <div class="duoshuo"><%- partial('post/duoshuo') %></div>
    </div>
</section>

<script>
    window.onload = function(){
        var userAgentInfo = navigator.userAgent;
            var Agents = ["Android", "iPhone",
                        "SymbianOS", "Windows Phone",
                        "iPad", "iPod"];
            var flag = true;
            for (var v = 0; v < Agents.length; v++) {
                if (userAgentInfo.indexOf(Agents[v]) > 0) {
                    flag = false;
                    break;
                }
            }
        if(flag){
            $('html,body').animate({scrollTop: window.screen.height * 0.8}, 800);
        }else {
            $('html,body').animate({scrollTop: window.screen.height}, 1000);
        }
    }
</script>
