<% permalink = config.url + config.root + post.path;%>
<section id="intro">
    <div class="container">
        <div class="row col-md-offset-2">
            <div class="col-md-8">
    			<%- partial('post/meta') %>
                <h1><%- post.title %></h1>
            </div>
        </div>
        <div class="col-md-8 col-md-offset-2">
      		<%- post.content.replace(/src/gi, 'data-src') %>
            <div class="clearfix"></div>
            <hr class="nogutter">
        </div>
        <%- partial('post/navigation') %>
        <div class="duoshuo"><%- partial('post/duoshuo') %></div>
    </div>
</section>
<script>
    window.onload = function(){
        (function(){
            var target = $('.col-md-offset-2 img');
            for(var i=0; i < target.length; i ++){
                var temp = $(target[i]);
                var alt = temp.attr("alt") || "<%- post.title %>";
                var src = temp.attr("data-src");
                if($(temp.parent()).prop("tagName") == 'P'){
                    $(temp.parent()).css("text-indent", 0);
                }
                var error_page = "<%- config.root %>img/error_" + Math.floor(Math.random() * 10) % 2 + ".png";
                temp.replaceWith("<a href='"+ src +"' " +
                        "data-lightbox='<%- post.title %>' " +
                        "data-title='" + alt + "' title='" + alt + "'>" +
                        "<img src='" + src +
                        "' alt='"+ alt +"' onerror=\"this.src='" + error_page + "'\" >" + "</a>");
            }})();
        var userAgentInfo = navigator.userAgent;
            var Agents = ["Android", "iPhone",
                        "SymbianOS", "Windows Phone",
                        "iPad", "iPod"];
            var flag = true;
            for (var v = 0; v < Agents.length; v++) {
                if (userAgentInfo.indexOf(Agents[v]) > 0) {
                    flag = false;
                    break;
                }
            }
        if(flag){
            var expect_height = $('#intro').offset().top / 2 - $('#hero h2').height() - $('#hero p').height() - 20;
            $('html,body').animate({scrollTop: expect_height}, 800);
        }else {
            setTimeout(function(){
                $('html,body').animate({scrollTop: $('.herofade').height()}, 2000);
            }, 1000)
        }
    };
</script>
